debe de crear un archivo llamado ".env" y escribir sus variables de entorno. Puede copiar los siguientes en su archivo .env (el archivo debe ir en la carpta raiz. Al mismo nivel que el package)


//copie lo de abajo. El proyecto se ejecuta en PORT , MONGODB_URI es la ruta de la BD , KEY_SECRET es sel secreto para jwt

PORT=4000
MONGODB_URI="mongodb://localhost/prueba-nuxt-login"
KEY_SECRET=MILLAVESECRETARE